@model PsiCollaboratorManager.Models.Collaborator.CollaboratorFullModel

@{
    Layout = "~/Views/Shared/_basicBigPhoto.cshtml";
}

<link href="~/Content/Css/Collaborator/CreateEdit.css" rel="stylesheet" />
<link href="~/Content/Validation.css" rel="stylesheet" />

<div id="CollaboratorCreateEditContainer">
    <form enctype="multipart/form-data" id="FormCollaboratorContainer" class="contact_form" method="post">
        <div class="fieldset" id="CollaboratorFieldEditContainer">
            <div id="CapturePhoto">
                <button type="button" class="btn btn-primary" onclick="OpenModal('CameraModal', 'Capturar Foto')">
                    Capturar Fotografía
                </button>
                <input type="file" name="ImageFile" class="uploadFile img" value="" style="width: 0px; height: 0px; overflow: hidden; " id="file_input">
            </div>

            <div id="PersonalInformationSection">
                <div class="title">
                    <h3>Información Personal</h3>
                    <div>
                        <div class="requiredInfo">
                            <h6>Datos requeridos*</h6>
                        </div>
                    </div>
                </div>
                <div class="personalInformationSectionFlex">
                    @Html.HiddenFor(model => model.CollaboratorId)
                    @Html.HiddenFor(model => model.Picture)
                    <div>
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @class = "form-control", placeholder = "Nombre", title = "Favor ingrese el Nombre", required = "" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.LastName, htmlAttributes: new { @class = "form-control", placeholder = "Apellido", title = "Favor ingrese el Apellido", required = "" })
                    </div>

                    <div>
                        @Html.LabelFor(model => model.DNICollaborator, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.DNICollaborator, htmlAttributes: new { @class = "form-control", @pattern = "[0-9]{9}|[0-9]{12}", placeholder = "Ejemplo: 301230123", title = "Favor ingrese número de cédula", required = "" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", title = "Favor seleccione una fecha", required = "" })
                    </div>
                </div>
                <div class="personalInformationSectionFlexRadioButton">
                    <div>
                        <label>Género</label>
                        <div class="radio-buttons">
                            <div>
                                @Html.RadioButtonFor(model => model.Gender, 1, new { id = "rbtnFemale", required = "" })
                                <label for="rbtnFemale" title="Favor seleccione una opción">Femenino</label>
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.Gender, 2, new { id = "rbtnMale", required = "" })
                                <label for="rbtnMale" title="Favor seleccione una opción">Masculino</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Casado</label>
                        <div class="radio-buttons">
                            <div>
                                @Html.RadioButtonFor(model => model.MaritalStatus, true, new { id = "rbtnYesMarital", required = "" })
                                <label for="rbtnYesMarital" title="Favor seleccione una opción">Si</label>
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.MaritalStatus, false, new { id = "rbtnNoMarital", required = "" })
                                <label for="rbtnNoMarital" title="Favor seleccione una opción">No</label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label>Hijos</label>
                        <div class="radio-buttons">
                            <div>
                                @Html.RadioButtonFor(model => model.Parent, true, new { id = "rbtnYesParent", required = "" })
                                <label for="rbtnYesParent" title="Please select an option">Si</label>
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.Parent, false, new { id = "rbtnNoParent", required = "" })
                                <label for="rbtnNoParent" title="Please select an option">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="DirectionSection">
                <div>
                    <h3>Dirección</h3>
                </div>
                <div class="directionSectionFlex">
                    <div>
                        @Html.LabelFor(model => model.ProvinceId, htmlAttributes: new { @class = "required" })
                        @Html.DropDownListFor(model => model.ProvinceId, ViewBag.Provinces as List<SelectListItem>, new { @class = "form-control", @title = "Favor seleccione una opción", required = "" })
                    </div>

                    <div>
                        @Html.LabelFor(model => model.CantonId, htmlAttributes: new { @class = "required" })
                        @Html.DropDownListFor(model => model.CantonId, ViewBag.Cantons as List<SelectListItem>, new { @class = "form-control", @title = "Favor seleccione una opción", required = "" })
                    </div>

                    <div>
                        @Html.LabelFor(model => model.DistrictId, htmlAttributes: new { @class = "control-label required" })
                        @Html.DropDownListFor(model => model.DistrictId, ViewBag.Districts as List<SelectListItem>, new { @class = "form-control", @title = "Favor seleccione una opción", required = "" })
                    </div>
                </div>
                <div class="description">
                    @Html.LabelFor(model => model.AddressLine, htmlAttributes: new { @class = "control-label required" })
                    @Html.TextAreaFor(model => model.AddressLine, new { @class = "form-control", rows = 3, cols = 71, placeholder = " Dirección exacta", title = "Favor ingrese la dirección exacta.", required = "" })
                </div>
            </div>

            <div id="ContactSection">
                <div>
                    <h3>Contacto</h3>
                </div>
                <div class="contactSection">
                    <div>
                        @Html.LabelFor(model => model.Telephone1, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.Telephone1, htmlAttributes: new { @class = "form-control", @pattern = "[0-9]{8}", placeholder = "Ejemplo: 88888888", title = "El formato debe ser de ocho dígitos sin espacios.", required = "" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Telephone2)
                        @Html.TextBoxFor(model => model.Telephone2, htmlAttributes: new { @class = "form-control", @pattern = "[0-9]{8}", placeholder = "Ejemplo: 88888888", title = "El formato debe ser de ocho dígitos sin espacios" })
                    </div>
                </div>
                <div class="description">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "required" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", placeholder = "Ejemplo: user@gmail.com", title = "Ejemplo de formato de correo 'user@gmail.com'", required = "" })
                </div>
            </div>

            <div id="PSIInformationSection">
                <div>
                    <h3>PSI Información</h3>
                </div>
                <div class="psiInformationSection">
                    <div>
                        @Html.LabelFor(model => model.OperatorNumber, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.OperatorNumber, new { type = "number", min = 1, max = 999, @class = "form-control", @required = "" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.RFIDCode)
                        @Html.TextBoxFor(model => model.RFIDCode, new { type = "text", @class = "form-control", @title = "Favor ingrese el código RFID" })
                    </div>
                </div>
            </div>

            <div id="UserAccountSection">
                <h3>Cuenta Usuario</h3>
                <div class="userAccountSection">
                    <div>
                        @Html.LabelFor(model => model.Password)
                        @Html.TextBoxFor(model => model.Password, new { type = "text", @class = "form-control", @title = "Este campo no es editable", @readonly = "readonly" })
                    </div>
                    <div>
                        @if (Model.CreateUserAccount)
                        {
                            Model.CreateUserAccount = false;
                            @Html.CheckBoxFor(model => model.CreateUserAccount, htmlAttributes: new { @class = "form-check-input" })
                            @Html.LabelFor(model => model.CreateUserAccount)
                        }
                        else
                        {
                            @Html.CheckBoxFor(model => model.CreateUserAccount, htmlAttributes: new { @class = "form-check-input" })
                            <label for="CreateUserAccount">Restaurar Contraseña</label>
                        }
                    </div>
                </div>
            </div>

            <div id="HealthConditionSection">
                <div>
                    <h3>Condición Salud</h3>
                </div>
                <div class="healthConditionSection">
                    <div class="description">
                        @Html.LabelFor(model => model.Diseases)
                        @Html.TextAreaFor(model => model.Diseases, new { type = "text", @class = "form-control", placeholder = "Padecimientos ó enfermedades", title = "Ingrese la lista de padecimientos o enfermedades diagnosticados" })
                    </div>
                    <div class="healthConditionSectionCheckBox">
                        @Html.LabelFor(model => model.TakingMedications)
                        @Html.CheckBoxFor(model => model.TakingMedications, htmlAttributes: new { title = "Marcar si el colaborador actualmente se encuentra bajo un tratamiento medico" })
                    </div>
                    <div class="description">
                        @Html.LabelFor(model => model.Note)
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", rows = 3, cols = 67, placeholder = "Notas Medicas", title = "Favor agregue notas medicas importantes." })
                    </div>
                </div>
            </div>

            <div id="BankAccountSection">
                <div>
                    <h3>Cuenta Bancaria</h3>
                </div>
                <div class="bankAccountSection">
                    <div>
                        @Html.LabelFor(model => model.BankId, htmlAttributes: new { @class = "required" })
                        @Html.DropDownListFor(model => model.BankId, ViewBag.Banks as List<SelectListItem>, new { @class = "form-control", required = "", title = "Favor elija una entidad bancaria." })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.CurrencyTypeId, htmlAttributes: new { @class = "required" })
                        @Html.DropDownListFor(model => model.CurrencyTypeId, ViewBag.CurrencyTypes as List<SelectListItem>, new { @class = "form-control", required = "", title = "Favor elija un tipo de moneda." })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.NumberBankAccount, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.NumberBankAccount, htmlAttributes: new { @class = "form-control", placeholder = "Número Cuenta Bancaria", title = "Fill field with Name", required = "" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.IBANAccount, htmlAttributes: new { @class = "required" })
                        @Html.TextBoxFor(model => model.IBANAccount, htmlAttributes: new { @class = "form-control", placeholder = "Ejemplo: CR55015100010012345678", required = "", pattern = "^CR\\d{2}[0-9A-Za-z]{18}$", title = "Favor digite el número de cuenta IBAN con el formato correcto." })
                    </div>
                </div>
            </div>
            <div id="InactiveCollaborator">
                <h5>Empleado Activo</h5>
                <label for="IsActive">Si desea inactivar este empleado desmarcar la siguiente casilla</label>
                @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @class = "form-check-input", id = "IsActive" })
            </div>

            <div id="EmergencyContactSection">
                <div class="title">
                    <h3>Contactos Emergencia</h3>
                    <div class="requiredInfo">
                        <h8>Registre al menos un contacto de emergencia.</h8>
                        <h6>Datos requeridos*</h6>
                    </div>
                </div>

                <div class="emergencyContactSectionFlex">
                    <div>
                        <label class="control-label required">Nombre</label>
                        <input id="EmergencyContactFirstName" class="form-control" type="text" />
                    </div>

                    <div>
                        <label class="control-label required">Apellido</label>
                        <input id="EmergencyContactLastName" class="form-control" type="text" />
                    </div>

                    <div>
                        <label class="control-label required">Parentezco</label>
                        @Html.DropDownList("EmergencyContactRelationship", (List<SelectListItem>)ViewData["Relationships"], htmlAttributes: new { @class = "form-control", required = "", title = "Favor elija un parentezco." })
                    </div>

                    <div>
                        <label class="control-label required">Teléfono</label>
                        <input id="EmergencyContactTelephone" class="form-control" type="text" />
                    </div>

                    <div>
                        <label class="control-label">Teléfono 2</label>
                        <input id="EmergencyContactTelephone2" class="form-control" type="text" />
                    </div>

                    <a id="AddContactButton" class="btn btn-success" title="Agregar contacto emergencia.">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                        </svg>
                    </a>
                </div>

                <div id="EmergencyContactTableSection">
                    <h5>Lista Contactos Emergencia</h5>
                    <table id="EmergencyContactTable">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Relación</th>
                                <th>Teléfono</th>
                                <th>Otro Teléfono</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="fieldset" id="CollaboratorFieldFooter">
            <button type="button" onclick="window.location.href='/Collaborator/Index/'" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="25" height="25" fill="currentColor" class="bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
                </svg>
                Regresar
            </button>
            <input type="submit" value="Guardar" class="btn btn-success">
        </div>
        <div id="CameraModal" class="modalContainer">
            @Html.Partial("../Collaborator/CameraModal")
        </div>
    </form>
</div>

<script src="~/Scripts/Lib/Modal.js"></script>

<script src="~/Scripts/Lib/Collaborator/Address.js"></script>
<script src="~/Scripts/Lib/Collaborator/EmergencyContact/EmergencyContact.js"></script>
<script src="~/Scripts/Lib/Collaborator/EmergencyContact/EmergencyContactExtension.js"></script>
<script src="~/Scripts/Lib/Collaborator/EmergencyContact/EmergencyContactManager.js"></script>

<script>
    let emergencyContactsObjects = @Html.Raw(Json.Encode(Model.EmergencyContacts));
    let extension = new EmergencyContactExtension([]);
    emergencyContactsObjects.forEach(x => { extension.AddContact(x.FirstName, x.LastName, x.Relationship, x.Telephone, x.Telephone2) });
    DisplayEmergencyContacts();
</script>

<script src="~/Scripts/Lib/Collaborator/CollaboratorFull.js"></script>
<script src="~/Scripts/Lib/Collaborator/Loader.js"></script>