
@{
    ViewBag.Title = "_doubleSmallLong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Css/Layouts/_basicSmall.css" rel="stylesheet" />
<link href="~/Content/Css/Layouts/_basicLong.css" rel="stylesheet" />
<link href="~/Content/Css/Layouts/_doubleSmallLong.css" rel="stylesheet" />

<section class="doubleSmallLongSection">
    <div class="basicSmallMain">
        <div class="basicSmallMainHeader messi-titlebox anim error">
            <h3>@ViewBag.DoubleTitleLeft</h3>
            <img id="SectionHeaderCrown" src="~/Images/crownWhite.png" />
        </div>
        <div class="basicSmallMainContent">
            @RenderSection("LeftContent", required: false)
        </div>
    </div>
    <div class="basicLongMain">
        <div class="basicLongMainHeader messi-titlebox anim error">
            <h3>@ViewBag.DoubleTitleRight</h3>
            <img id="SectionHeaderCrown" src="~/Images/crownWhite.png" />
        </div>
        <div class="basicLongMainContent">
            @RenderSection("RightContent", required: false)
        </div>
    </div>
    @RenderBody()
</section>