@model PsiCollaboratorManager.Models.Schedule.WorkingDayModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_basicMedium.cshtml";
}

<link href="~/Content/Css/WorkingDay/Create.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Schedule/WorkingDay/Index.js"></script>

@using (Html.BeginForm("Create", "WorkingDay", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateWorkingDayForm" })) 
{
    @Html.AntiForgeryToken()
    <div id="CreateWorkingDayInformation" class="fieldset">
        <h3>Informacion Jornada Laboral</h3>
        <div class="formField">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "" } })
        </div>
        <div class="formField">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        </div>
        <div class="formField">
            @Html.LabelFor(model => model.Accumulative, new { @class = "control-label required" })
            @Html.CheckBoxFor(model => model.Accumulative, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
        </div>
    </div>

    <div id="CreateWorkingDayHours" class="fieldset">
        <h3>Rango de Horas</h3>
        <div class="formFieldHour">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label required"})
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", type = "time", required = "" } })
        </div>
        <div class="formFieldHour">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", type = "time", required = "" } })
        </div>
    </div>
    <div id="CreateWorkingDayMax" class="fieldset">
        <h3>Maximo Semanal</h3>
        <div class="formFieldHour">
            @Html.LabelFor(model => model.MaxHours, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.MaxHours, new { htmlAttributes = new { @class = "form-control", required = "" } })
        </div>
        <div class="formFieldHour">
            @Html.LabelFor(model => model.MaxDays, htmlAttributes: new { @class = "control-label required" })
            @Html.EditorFor(model => model.MaxDays, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9]{1}", required = "" } })
        </div>
    </div>
    <div id="CreateWorkingDayFooter" class="fieldset">
        <button type="button" onclick="window.location.href='/WorkingDay/Index/'" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
            </svg>
            Regresar
        </button>   
        <input type="button" value="Guardar" class="btn btn-success" onclick="validateAndSubmitForm()"/>
    </div>
}
