@model PsiCollaboratorManager.Models.ChangePasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio PSI Internacionales S.A.</title>

    <link href="~/Content/Css/Common/Elements.css" rel="stylesheet" />
    <link href="~/Content/Css/UserAccount/ChangePassword.css" rel="stylesheet" />
</head>
<body>
    <div id="ChangePasswordGrid">
        <div id="RequirementsSection">
            <h2>Requisitos para la Contraseña</h2>
            <h4>Use la combinación de:</h4>
            <ul>
                @{
                    if (Session.Count > 1)
                    {
                        if (bool.Parse(@Session["UseUpperCase"].ToString()))
                        {
                            <li>Mayúsculas: A-Z</li>
                        }
                        <li>Minúsculas: a-z</li>
                        if (bool.Parse(@Session["UseNumbers"].ToString()))
                        {
                            <li>Números: 0-9</li>
                        }
                        if (bool.Parse(@Session["UseSymbols"].ToString()))
                        {
                            <li>Símbolos: #$%&-+/.?:;!_</li>
                        }
                    }
                }
            </ul>
        </div>
        @using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form", id= "ChangePasswordFormSection" }))
        {
            @Html.LabelFor(m => m.OldPassword, new { @class = "required" })
            @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Contraseña Actual", @required = "required" })
            @Html.LabelFor(m => m.Password, new { @class = "required" })
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Nueva Contraseña", @required = "required" })
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirmación Contraseña", @required = "required" })
            <button class="loginButton" type="submit"> CAMBIAR CONTRASEÑA </button>
        }
</body>
</html>