@model PsiCollaboratorManager.Models.Schedule.ScheduleModel
@{
    ViewBag.Title = "Edit Schedule";
    Layout = "~/Views/Shared/_basicLong.cshtml";
}
<link href="~/Content/Css/Schedule/CreateEdit.css" rel="stylesheet" />
@using (Html.BeginForm("EditSchedule", "Schedule", FormMethod.Post, new { id = "FormEditSchedule" , @class= "scheduleForm" }))
{
    <div id="ScheduleInfoSection" class="fieldset">
        <h3>Informacion Horario</h3>
        <div class="formField">
            @Html.LabelFor(model => model.ScheduleName, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.ScheduleName, new { @class = "form-control", type = "text", required = "required" })
        </div>
        <div class="formField">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", type = "text", required = "required" })
        </div>
        <div class="formField">
            @*<div>@Html.LabelFor(model => model.WorkingDayId, htmlAttributes: new { @class = "control-label required" })</div>
            <div>@Html.DropDownList("workingDayId", (List<SelectListItem>)ViewBag.WorkingDay, "- Seleccione una jornada -", htmlAttributes: new { required = "required" })</div>*@

            <div>
                <label class="required">Banco</label>
                @Html.DropDownListFor(model => model.DayId, ViewBag.Days as List<SelectListItem>, "-Seleccione el día-", new { @class = "form-control", required = "", title = "Favor elija una entidad bancaria." })
            </div>

        </div>
    </div>
    <div id="ScheduleSelectionSection" class="fieldset">
        <h3>Seleccion Dia/Horas</h3>
        <div id="ScheduleSelectionSectionFields">
            @Html.LabelFor(model => model.DayId, htmlAttributes: new { @class = "control-label required" })
            @Html.DropDownList("DayIdScheduleCreate", (List<SelectListItem>)ViewBag.Days, htmlAttributes: new { @class = "form-control formFieldHour", required = "required" })
            @Html.LabelFor(model => model.WorkingDayStartTime, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.WorkingDayStartTime, new { @class = "form-control formFieldHour", placeholder = "Hora Inicial", type = "time", id = "inputHourInicial", value = "00:00", required = "required" })
            @Html.LabelFor(model => model.WorkingDayEndTime, htmlAttributes: new { @class = "control-label required" })
            @Html.TextBoxFor(model => model.WorkingDayEndTime, new { @class = "form-control formFieldHour", placeholder = "Hora Final", type = "time", id = "inputHourFinaly", value = "00:00", required = "required" })

            <button type="button" class="btn btn-primary" id="btnAddScheduleEdit" title="Agregar">
                +
            </button>
        </div>
    </div>
    <div id="ScheduleDaysHoursSection" class="fieldset">
        <table id="tableScheduleCreate">
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                    <th>Diferencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="ScheduleDaysHoursSectionTotal">
            <h6>Total de horas:</h6>
            <input type="text" id="totalHoras" class="form-control" readonly />
            <input type="hidden" id="tablaHorariosData" name="ListRecords" />
        </div>
    </div>
    <div id="EditScheduleFooter" class="scheduleFooter fieldset">
        <button type="button" onclick="window.location.href='/Schedule/Index/'" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
            </svg>
            Regresar
        </button>
        <input type="submit" value="Guardar" class="btn btn-success">
    </div>
}
<script src="~/Scripts/Schedule/ScheduleProcess.js"></script>